/* ---- Página ---- */

body{
    background-color: #FAFAFA;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
}

*{
    box-sizing: border-box;
}

/* ---- Barra-Topo ---- */
header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: #ffff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    z-index: 3;
}
.barra-topo{
    margin-left: auto;
    margin-right: auto;
    width: 935px;
    background-color: #FFFFFF;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo img{
    width: 103px;
    height: 29px;
    margin-top: 5px;
}


.barra{
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
}

.logo{
    width: 146px;
    height: 40px;
    background-color: #ffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.barra-de-pesquisa{
    display: flex;
    position: relative;
}

.barra-de-pesquisa input{
    font-size: 14px;
    border: 1px solid #dbdbdb;
    width: 215px;
    height: 28px;
    border-radius: 3px;
}
.Utilitarios{
    width: 148px;
    height: 40px;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone{
    width: 22px;
    height: 22px;
}

/* ---- Conteudo ---- */

.Conteudo{
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    width: 935px;
    height: 100%;
    justify-content: space-between;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;
}

.posts{
    width: 614px;
    height: 100%;
}

/* ---- Stories ---- */

.Caixa-Stories{
    width: 614px;
    height: 118px;
    margin-bottom: 24px;
    background-color: #ffff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1px;
    overflow: hidden;
}

.Stories{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14px;
    width: 66px;
    padding: top 0px;

}

.Stories img{
    width: 66px;
    height: 66px;
}

.parte3 img{
    margin-left: -61px;
    margin-top: 23px;
    width: 56px;
    height: 56px;
    border-radius: 28px;
}

.Stories p{
    margin-top: 5px;
    margin-left: -47px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;    
    color: #262626;
}

.seta {
    border-radius: 20px;
    width: 32px;
    height: 32px;
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    color: #ffffff;
    left: 0px;
    bottom: 33px;
    transition: all 0.2s linear 0s;
  }
  
/* ---- Postagens ---- */

.publicacao{
    width: 614px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    margin-bottom: 60px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Topo-post{
    width: 614px;
    height: 62px;
    display: flex;
    align-items: center;
    position: relative;
}

.Topo-post img{
    margin-left: 17px;
    margin-right: 15px;
    border-radius: 16px;
    height: 32px;
    width: 32px;

}

.Topo-post p{
    font-weight: 500;
    font-size: 16px;
    color: #262626;
}

.Topo-post ion-icon{
    margin-left: auto;
    margin-right: 17px;
    font-size: 32px;
}

.imagem img{
    width: 612px;
    height: 614px;
}

.imagem video{
    width: 612px;
}
.Baixo-post{
    position: sticky;
    width: 614px;
    height: 76px;
    top:0;
    background-color: #ffffff;
}

.Baixo-post ion-icon{
    font-size: 22px;
}

.parte1{
    width: 614px;
    height: 40px;
    display: flex;
    align-items: center;
}

.salvar{
    margin-left: auto;
    margin-right: 17px;
    height: 22px;
}

.parte1 .icones{
    margin-left: 15px;
}

.quem-curtiu{
    width: 614px;
    height: 20px;
    display: flex;
    align-items: center;
}

.quem-curtiu img{
    margin: 14px 5px 14px 17px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.quem-curtiu p{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

/* ---- Side Bar ---- */

.Side-Bar{
    padding-top: 23px;
    position: sticky;
    width: 293px;
    height: 400px;
    top: 88px;
    background-color: #FAFAFA;
}

.caixa-da-sidebar{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.caixa-da-sidebar img{
    width:56px ;
    height: 56px;
    border-radius: 28px;
}

.Perfil{
    margin-left: 11px;
    width: 150px;
}

.Perfil h1{
    margin-bottom: auto;
    font-style: normal;
    color: #262626;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.Perfil p{
    font-style: normal;
    color: #8e8e8e;
    margin-top: auto;
    font-size: 14px;
    line-height: 16px;
}

.sugestoes{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 17px;
}

.sugestoes .letra-perfil2{
    font-weight: 500;
}

.perfis{
    margin-left: 11px;
    width: 150px;
}

.perfis img{
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.perfis h1{
    margin-bottom: auto;
    font-style: normal;
    color: #262626;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.perfis p{
    font-style: normal;
    color: #8e8e8e;
    margin-top: auto;
    font-size: 12px;
    line-height: 10px;    
}

.Copyright {
    margin-top: 18px;
}

.Copyright p {
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7;
}
  

.icone-mobile {
  display: none;
}

.barramobile{
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 54px;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #dbdbdb;
    z-index: 3;
  }

/* ---- Media Query ---- */

@media (max-width : 935px){
    .barra-topo{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
    }
    .Side-Bar{
        display: none;
    }
    .Conteudo{
        justify-content: center;
        width: 614px;
    }
    }
@media (max-width : 614px){
    .barramobile{
        display:flex;
    }
    .barra-de-pesquisa{
        display: none;
    }
    .Utilitarios{
        display: none;
    }
    .icone-mobile{
        display: inline;
    }
    .logo{
        width: 100%;
    }
    .barra{
        display: none;
    }
    .Conteudo{
        justify-content: center;
    }
    .barra-topo{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .Caixa-Stories{
        background-color: #FAFAFA;
        overflow: hidden;
        border: none;
    }
    .Stories{
        background-color: #fafafa;
    }
    .seta{
        display: none;
    }
    }    
